@namespace url(http://www.w3.org/1999/xhtml);
/*

	DARK PROSE.IO THEME
	BY: V

*/


/* Scrollbar */

::-webkit-scrollbar {
    max-width: 10px !important;
    max-height: 10px !important;
    background: #1d1d1d !important;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
    background: #111 !important;
}
::-webkit-scrollbar-thumb:hover {
    background: #b75446 !important;
}
::-webkit-scrollbar-thumb {
    background: rgba(175, 175, 175, .5) !important;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
    background: #1d1d1d !important;
}

/* Make it wider */
@media (max-width: 1400px) {
.limiter {
    width: 100%;
    margin: 0 auto;
    }
}
.containment, .limiter {
    width: 750px;
    margin: 0 auto;
}

html,
body,
textarea,
button,
input {
  font: 13px/20px 'OpenSans', sans-serif; }

html, body {
  background: #111;
  color: #ae9f99;
  -webkit-font-smoothing: antialiased; }

a {
  color: #c2b6b1;
  text-decoration: none;
  font-weight: 700;
  -webkit-transition: color 100ms linear;
  -moz-transition: color 100ms linear;
  -o-transition: color 100ms linear;
  transition: color 100ms linear; }

a:hover {
  color: #dfdfdf; }

::selection {
    background: yellow!important;
}
button,
.button {
  background: #ae9f99;
  color: #111;
 }

.button:hover {
  background: #c2b6b1;
  color: #111; }

.button.delete {
  background-color: #8F2424; }

.button.delete:hover {
  background-color: #AD2B2B; }

.button.major {
  background-color: #8F2424; }

.button.major:hover {
  background-color: #AD2B2B; }

.button.minor {
  background-color: #0c7c9e; }

.button.minor:hover {
  background-color: #1393ba; }

.button.new,
.button.good {
  background-color: #6f448b; }

.button.new:hover,
.button.good:hover {
  background-color: #8c6aa3; }

.listing .actions .delete:active,
.listing .actions .delete:hover {
  border-color: #AD2B2B; }

.toggle {
  background: #070707;
  color: #57504d;
 }

.toggle:active,
.toggle:hover {
  background: #0f0f0f;
  color: #57504d; }

.toggle:active {
  -webkit-box-shadow: inset 0 2px 2px rgba(220, 220, 220, 0.15);
  box-shadow: inset 0 2px 2px rgba(220, 220, 220, 0.15); }

h2 {
  font-size: 20px;
  font-weight: 400;
  padding: 0 0 5px; }

h2.label {
  margin: 5px 0;
  font-weight: 700;
  padding: 0; }

h3 {
  font-size: 16px;
  font-weight: 700; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 13px; }

h6 {
  font-size: 11px;
  font-weight: 400; }

.label,
h1 small,
h2 small {
  font-size: 13px;
  font-weight: 400; }

h3 small {
  font-size: 14px;
  font-weight: 400; }

p {
  font-size: 16px;
  line-height: 1.5em;
  margin: 0 0 20px; }

small {
  font-size: 11px;
  line-height: 18px; }

label {
  color: #bcb3af;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  display: block; }

select,
textarea,
input[type=text] {
  font-size: 13px;
  line-height: 18px;
  display: inline-block;
  width: 100%;
  padding: 6px 8px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

textarea,
input[type=text] {
  background-color: #111;
  border: 1px solid #2b2826;
  color: #ae9f99;
 }

.authoring textarea,
.authoring input[type=text] {
  border-color: #57504d; }

textarea:focus,
input[type=text]:focus {
  border-color: #ae9f99;
}

::-webkit-input-placeholder {
  color: #57504d; }

::-moz-placeholder {
  color: #57504d; }

:-ms-input-placeholder {
  color: #57504d; }

input:-moz-placeholder {
  color: #57504d; }

.headerinput::-webkit-input-placeholder {
  color: #2b2826;
 }

.headerinput::-moz-placeholder {
  color: #2b2826;
 }

.headerinput:-ms-input-placeholder {
  color: #2b2826;
 }

.headerinput:-moz-placeholder {
  color: #2b2826;
 }

del {
  color: #ae9f99;
 }

ins {
  background: #2b1349;
  color: #8c6aa3;
 }

.prose .title {
  border-bottom: 1px solid #2b2826;
}

.prose table {
  background-color: transparent;
 }

.prose th,
.prose td {
  border-bottom: 1px solid #1f1814; }

.prose blockquote {
  border-left: 1px solid #57504d;
 }

.prose a {
  color: #6f448b; }

.prose a:hover {
  color: #8c6aa3; }

.prose code {
  background: #070707;
  font: 13px/1.4em Menlo, monospace;
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 2px 4px;
  margin: 0 2px;
  font-size: 12px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.prose pre {
  background: #070707;
  font: 13px/1.4em Menlo, monospace;
  overflow: auto;
  margin-bottom: 15px;
  padding: 15px; }

.prose pre code {
  border: none;
  margin: 0;
  padding: 0; }

/* Alterable filename input */
.heading .headerinput {
  background: transparent;
  border: none;
  color: #bcb3af;
 }

.heading .details h4 {
  color: #2b2826; }

.heading .details .mask {
  background: transparent;
 }

.heading .headerinput:focus,
.heading .headerinput:hover {
  background-color: #070707; }

.content {
  position: relative;
  z-index: 500;
  height: 500px;
  height: auto !important;
  min-height: 500px; }

.sidebar {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: -100%;
  width: 280px;
  padding-right: 60px;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  -webkit-transition: right 150ms ease-out;
  -moz-transition: right 150ms ease-out;
  -o-transition: right 150ms ease-out;
  transition: right 150ms ease-out; }

/* ------------------------------------------
  Global Styles
---------------------------------------------*/

.prose-menu:hover {
  background-color: #c2b6b1; }

.loading {
  color: #c2b6b1; }

.modal.overlay {
  background: rgba(0, 0, 0, 0.6);
 }

.modal .modal-content {
  background: #111;
  border: 1px solid #57504d;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0), 0 0 10px rgba(220, 220, 220, 0.1); }

.modal .modal-heading {
  border-bottom: 1px solid #2b2826;
 }

.modal .modal-footer {
  border-top: 1px solid #2b2826; }

.sidebar {
  background: #111;
  border-left: 1px solid #2b2826;
  -webkit-box-shadow: none;
  box-shadow: none; }

#navigation {
  background: #111;
  border-left: 1px solid #111; }

.open + #navigation {
  border-color: #2b2826; }

.nav li a {
  background-color: #070707;
  color: #57504d;
}

.nav li a:hover {
  background-color: #0f0f0f; }

.nav li a:active {
  -webkit-box-shadow: inset 0 2px 2px rgba(220, 220, 220, 0.15);
  box-shadow: inset 0 2px 2px rgba(220, 220, 220, 0.15); }

.nav li a.active {
  background-color: #ad9f99;
  color: #111;
  -webkit-box-shadow: inset 0 2px 2px rgba(220, 220, 220, 0.15);
  box-shadow: inset 0 2px 2px rgba(220, 220, 220, 0.15); }

.nav .ico.login,
.ico.login {
  background-color: #6f448b;
  color: #111; }

.nav .ico.login:hover,
.ico.login:hover {
  background-color: #8c6aa3; }

.published .ico.checkmark,
.ico.checkmark,
.ico.added {
  color: #6f448b; }

.ico.modified {
  color: #df6655; }

.ico.removed {
  color: #AD2B2B; }

.ico.error {
  color: #8F2424; }

.ico.renamed {
  color: #4460e5; }

.ico.private {
  color: #214bff; }

.listing .saving,
.saving .save .status:before {
  color: #57504d; }

.error .save .status:before {
  color: #8F2424; }

.saved .save .status:before {
  color: #6f448b; }

.ico.picture-add {
  color: #2b2826;
}

.saving .save .status,
.error .save .status,
.saved .save .status {
  background: #070707; }

.saving .save.active .status,
.error .save.active .status,
.saved .save.active .status {
  background: #ae9f99; }

.listing .actions .working {
  border-color: #AD2B2B;
  -webkit-box-shadow: 0 0 2px #AD2B2B;
  box-shadow: 0 0 2px #AD2B2B;
}

.avatar {
  background: #070707;
}

.avatar img {
  background: #070707;
}

.avatar .ico,
.avatar .icon {
  background-color: #070707;
  color: #ae9f99; }

@-webkit-keyframes pulsate {
  0% {
    -webkit-box-shadow: 0 0 2px #AD2B2B; }
  50% {
    -webkit-box-shadow: 0 0 6px rgba(211, 82, 82, 0.5); }
  100% {
    -webkit-box-shadow: 0 0 2px #AD2B2B; } }

@-moz-keyframes pulsate {
  0% {
    box-shadow: 0 0 2px #AD2B2B; }
  50% {
    box-shadow: 0 0 6px rgba(211, 82, 82, 0.5); }
  100% {
    box-shadow: 0 0 2px #AD2B2B; } }

@-o-keyframes pulsate {
  0% {
    box-shadow: 0 0 2px #AD2B2B; }
  50% {
    box-shadow: 0 0 6px rgba(211, 82, 82, 0.5); }
  100% {
    box-shadow: 0 0 2px #AD2B2B; } }

@keyframes pulsate {
  0% {
    box-shadow: 0 0 2px #AD2B2B; }
  50% {
    box-shadow: 0 0 6px rgba(211, 82, 82, 0.5); }
  100% {
    box-shadow: 0 0 2px #AD2B2B; } }

.save .status {
  background: transparent;
}

.save .save .status {
  background: #ad9f99;
}

.heading .icon,
.listing .icon {
  background-color: #070707; }

.listing .icon.small {
  background-color: transparent; }

.content .details a strong {
  color: #2b2826; }

.popup {
  background: #dfdfdf;
  color: #1f1814;
}

.notification,
#start .splash {
  background: #111;
  border: 1px solid #57504d;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0), 0 0 10px rgba(220, 220, 220, 0.1); }

.markdown .fixed .toolbar {
  border-bottom: 1px solid #2b2826;
  -webkit-box-shadow: 0 4px 6px -4px rgba(220, 220, 220, 0.1);
  box-shadow: 0 4px 6px -4px rgba(220, 220, 220, 0.1); }

.content-search {
  background: #070707;
  border: 1px solid rgba(220, 220, 220, 0.15);
  -webkit-box-shadow: none;
  box-shadow: none; }

.content-search input {
    background: transparent;
    border: none;
    padding: 8px 60px 8px 15px;
    font-size: 16px;
    line-height: 26px;
    width: 100%;
    margin: 0;
}

.toolbar {
  background: #111;
  border-color: #111; }

.markdown .toolbar {
  background: #0f0f0f;
  border-color: #0f0f0f; }

.toolbar .group {
  background: #111;
}

.toolbar .group li {
  border-left: 1px solid #2b2826; }

.toolbar .group li a.on,
.toolbar .group li a.active,
.toolbar .group li a:active {
  background: #2b2826;
  -webkit-box-shadow: inset 0 2px 2px -1px rgba(220, 220, 220, 0.25), inset 0 15px 30px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 2px 2px -1px rgba(220, 220, 220, 0.25), inset 0 15px 30px rgba(0, 0, 0, 0.25); }

.toolbar .group li .on:before {
  border-color: #645b59 transparent; }

.toolbar .group li .on:after {
  border-color: #111 transparent; }

.dialog {
  background: #111;
  border: 1px solid #57504d;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0), 0 0 10px rgba(220, 220, 220, 0.1);
}

.dialog a {
  color: #6f448b;
}

.dialog a.active,
.dialog a:hover {
  color: #8c6aa3; }

.dialog .button,
.dialog .button:hover {
  color: #111;
}

.dialog .chzn-container .chzn-drop {
  border-top: 1px solid #79706c;
}

.dialog .chzn-container-single .chzn-single {
  background: transparent;
  color: #6f448b;
}

.dialog .chzn-container .chzn-results {
  color: #c2b6b1; }

.chzn-results::-webkit-scrollbar,
.dialog ::-webkit-scrollbar {
  background: #111;
}

.chzn-results::-webkit-scrollbar-thumb,
.dialog ::-webkit-scrollbar-thumb {
  background: #2b2826;
  border: 5px #111 solid;
}

.dialog .media-listing:hover::-webkit-scrollbar-thumb {
  background: #57504d; }

.dialog .media-listing a {
  border-bottom: 1px solid #0f0f0f;
  color: #c2b6b1;
}

.dialog .media-listing .back a {
  background: #070707;
  border-bottom: 1px solid #2b2826; }

.dialog .media-listing .back.ico {
  color: #ae9f99; }

.dialog .media-listing .ico {
  color: #57504d;
}

.dialog .media-listing .folder {
  color: #214bff; }

.dialog .media-listing a:hover {
  background: #070707;
  color: #dfdfdf; }

.help .col25 {
  border-right: 1px solid #2b2826; }

.help .col25 a {
  color: #c2b6b1;
}

.help .col25 a:hover {
  color: #dfdfdf; }

.help .col li a {
  border-top: 1px solid #0f0f0f;
 }

.help .col li:last-child a {
  border-bottom: 1px solid #0f0f0f; }

.help .col li a:hover,
.help .col li a.active {
  background-color: #070707; }

.listing .actions a {
  background: #070707;
  border: 1px solid #57504d;
}

.listing .actions a:hover,
.listing .actions a:active {
  border-color: #ae9f99; }

.listing li:first-child {
  border-top: 1px solid #2b2826; }

.sidebar .listing li a {
  border-bottom: 1px solid #0f0f0f;
}

.sidebar .listing li:first-child a {
  border-color: #0f0f0f; }

.listing .item.active,
.sidebar .listing li a.active,
.sidebar .listing li a:hover {
  background-color: #070707;
  color: #c2b6b1; }

.listing .item.active .round.icon {
  background-color: #111; }

.content .listing .directory > a,
.content .listing > li {
  border-bottom: 1px solid #0f0f0f;
}

.history .status {
  color: #57504d;
}

.listing .overlay {
  background: #111;
  border-top: 1px solid #2b2826;
  border-bottom: 1px solid #2b2826;
}

.prose .fat-list {
  border: 1px solid #2b2826; }

.fat-list li a {
  color: #bbb;
  border-bottom: 1px solid #2b2826;
}

.fat-list li a.active,
.fat-list li a:hover {
  background-color: #070707;
  color: #bbb; }

.application .dropdown {
  -webkit-box-shadow: 0 4px 10px rgba(220, 220, 220, 0.15);
  box-shadow: 0 4px 10px rgba(220, 220, 220, 0.15); }

.dropdown {
  background-color: #c2b6b1;
}

.dropdown li.divider {
  border-bottom: 1px solid #dfdfdf;
}

.dropdown > li > a {
  background: transparent;
  color: #1f1814;
}

.dropdown a.active,
.dropdown > li > a:hover,
.dropdown > li > a:focus {
  background-color: #ae9f99;
}

/* ------------------------------------------
  File /:filename
---------------------------------------------*/
.publish-flag, .draft-to-post {
  color: #57504d;
}

.publish-flag .ico, .draft-to-post .ico {
  color: #2b2826; }

.publish-flag:hover, .draft-to-post:hover {
  background: #070707;
  color: #57504d; }

.edit .drop-mask {
  background: rgba(0, 0, 0, 0.25);
}

.drag-over .ico.picture-add {
  color: #6f448b; }

.post .markdown .view.diff pre {
  color: #57504d;
}

.view.diff .diff-content {
  background: #070707; }

.post .view.meta {
  background: #0f0f0f;
}

.meta .inner {
  background: #111; }

.form-item button[value='true'] {
  background-color: #2b2826;
  color: #c2b6b1; }

.form-item button[value='true']:hover {
  background-color: #57504d; }

.form-item button[value='false'] {
  background-color: #6f448b; }

.form-item button[value='false']:hover {
  background-color: #8c6aa3; }

.cancel:hover {
  color: #8F2424; }

.chzn-container .chzn-drop {
  background: #111;
  border: 1px solid #524b49 !important;
  -webkit-box-shadow: none;
  box-shadow: none; }

.chzn-container-single .chzn-single {
  background-color: #111;
  border: 1px solid #2b2826;
  color: #c2b6b1;
}

.chzn-container-single .chzn-search input {
  border: 1px solid #79706c;
 }

.chzn-container-multi .chzn-choices {
  background-color: #111;
  border: 1px solid #2b2826;
}

.chzn-container-multi .chzn-choices .search-field input {
  color: #999;
}

.chzn-container-multi .chzn-choices .search-field .default {
  color: #666;
}

.chzn-container-multi .chzn-choices .search-choice {
  background: #673e88;
  color: #111;
}

.chzn-container-multi .chzn-choices .search-choice.search-choice-disabled {
  background-color: #2b2826;
  color: #ae9f99;
}

.chzn-container-multi .chzn-choices .search-choice-focus {
  background-color: #8F2424; }

.chzn-container .chzn-results .highlighted {
  background-color: #070707;
}

.chzn-container .chzn-results li em {
  background: #0c1c5d;
}

.chzn-container .chzn-results .no-results {
  background: #100c0a;
}

.chzn-container .chzn-results .group-result {
  color: #57504d;
}


.chzn-container .chzn-results-scroll {
  background: #111;
}

.chzn-container-active .chzn-single-with-drop {
  border: 1px solid #57504d;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.chzn-container-active .chzn-choices {
  border: 1px solid #79706c; }

.chzn-container-active .chzn-choices .search-field input {
  color: #dfdfdf !important; }

.deemphasize {
  color: #777; }

.arrow-top:after,
.arrow-right:after,
.arrow-bottom:after,
.arrow-left:after {
  border-color: #dfdfdf transparent; }

.arrow-left:after,
.arrow-right:after {
  border-color: transparent #dfdfdf;
}

.CodeMirror {
  color: #111; }

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: #111;
}

.CodeMirror-gutters {
  border-right: 1px solid #222;
  background-color: #070707;
}

.CodeMirror-linenumber {
  color: #666;
}

.CodeMirror-guttermarker {
  color: #111; }

.CodeMirror-guttermarker-subtle {
  color: #666; }

.CodeMirror-cursor {
  border-left: 1px solid #111;
}

.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver; }

.cm-fat-cursor .CodeMirror-cursor {
  background: #818; }

.CodeMirror-ruler {
  border-left: 1px solid #333;
}

/* DEFAULT THEME */
.cm-s-default .cm-header {
  color: blue; }

.cm-s-default .cm-quote {
  color: #f6f; }

.cm-negative {
  color: #2bb; }

.cm-positive {
  color: #d6d; }

.cm-s-default .cm-keyword {
  color: #8f7; }

.cm-s-default .cm-atom {
  color: #de6; }

.cm-s-default .cm-number {
  color: #e9b; }

.cm-s-default .cm-def {
  color: #ff0; }

.cm-s-default .cm-variable-2 {
  color: #fa5; }

.cm-s-default .cm-variable-3 {
  color: #f7a; }

.cm-s-default .cm-comment {
  color: #5af; }

.cm-s-default .cm-string {
  color: #5ee; }

.cm-s-default .cm-string-2 {
  color: #0af; }

.cm-s-default .cm-meta {
  color: #aaa; }

.cm-s-default .cm-qualifier {
  color: #aaa; }

.cm-s-default .cm-builtin {
  color: #cf5; }

.cm-s-default .cm-bracket {
  color: #668; }

.cm-s-default .cm-tag {
  color: #e8f; }

.cm-s-default .cm-attribute {
  color: #ff3; }

.cm-s-default .cm-hr {
  color: #666; }

.cm-s-default .cm-link {
  color: #ff3; }

.cm-s-default .cm-error {
  color: #0ff; }

.cm-invalidchar {
  color: #0ff; }

.CodeMirror-composing {
  border-bottom: 2px solid; }

div.CodeMirror span.CodeMirror-matchingbracket {
  color: #f0f; }

div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #0dd; }

.CodeMirror-matchingtag {
  background: rgba(255, 15220, 220, 220.3); }

.CodeMirror-activeline-background {
  background: #170d00; }

.CodeMirror {
  background: #111; }

/* Editor colors */
.CodeMirror-code {
  background: #222;
}
.CodeMirror pre {
  font-size: 16px;
}
.CodeMirror-selected {
  background: #363922; }



.CodeMirror-focused .CodeMirror-selected {
  background: #282b0f; }

.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection {
  background: #282b0f; }

.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection {
  background: #282b0f; }

.cm-searching {
  background: #005;
  background: rgba(255, 255, 0, 0.4); }

.CodeMirror-scrollbar-filler {
  background-color: #111; }

.CodeMirror-linenumber {
  color: #2b2826; }

.cm-s-prose-bright .CodeMirror-gutter {
  border-right: 1px solid #100c0a;
}

.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid #c2b6b1;
}

.cm-s-prose-bright .CodeMirror-cursor {
  border-right: 2px solid #99877f; }

.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid #1f1814; }

/* Prose Bright Theme
 -------------------- */

.cm-s-prose-bright {
  color: #c2b6b1; }

.cm-s-prose-bright span.cm-header {
  color: #c2b6b1;
  font-weight: bold; }

.cm-s-prose-bright span.cm-variable-2 {
  color: #c2b6b1; }

.cm-s-prose-bright span.cm-meta {
  color: #ae9f99; }

.cm-s-prose-bright span.cm-hr {
  color: #ae9f99; }

.cm-s-prose-bright span.cm-comment {
  color: #79706c; }

.cm-s-prose-bright span.cm-qualifier {
  color: #79706c; }

.cm-s-prose-bright span.cm-number {
  color: #e68678; }

.cm-s-prose-bright span.cm-variable {
  color: #e68678; }

.cm-s-prose-bright span.cm-builtin {
  color: #e68678; }

.cm-s-prose-bright span.cm-link {
  color: #e68678;
  text-decoration: underline; }

.cm-s-prose-bright span.cm-tag {
  color: #e68678; }

.cm-s-prose-bright span.cm-string {
  color: #b75446; }

.cm-s-prose-bright span.cm-string-2 {
  color: #b75446; }

.cm-s-prose-bright span.cm-quote {
  color: #b75446; }

.cm-s-prose-bright span.cm-atom {
  color: #b75446; }

.cm-s-prose-bright span.cm-property {
  color: #7d5c98; }

.cm-s-prose-bright span.cm-operator {
  color: #7d5c98; }

.cm-s-prose-bright span.cm-variable-3 {
  color: #7d5c98; }

.cm-s-prose-bright span.cm-attribute {
  color: #6f448b; }

.cm-s-prose-bright span.cm-def {
  color: #6f448b; }

.cm-s-prose-bright span.cm-keyword {
  color: #1393ba; }

.cm-s-prose-bright span.cm-bracket {
  color: #1393ba; }

.cm-s-prose-bright span.cm-error {
  color: #1bacb9; }

.CodeMirror {
  color: #ae9f99; }


@media all and (max-width: 1400px) {
  .loading {
    background: #111;
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid #2b2826;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0), 0 0 10px rgba(220, 220, 220, 0.1); }

  .dropdown-menu.prose-menu {
      border-top: 1px solid #2b2826; }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #navigation {
    border-color: #2b2826; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #navigation {
    border-color: #2b2826; }
}
